.nav-menu {
  font-family: 'sanfrancisco', sans-serif;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid black;
  padding: 1vw;
  width: 62vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap; 
  box-sizing: border-box; 
}

.nav-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  overflow: auto;
}

.nav-item {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  flex-basis: 20%; 
  box-sizing: border-box; 
  max-height: calc((16vh - 20px) / 2); 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden; 
  flex-shrink: 0; 
  flex-grow: 1; 
}

.extra-nav-item {
  height: 25%;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  width: 100%; 
  flex-shrink: 0; 
  flex-grow: 1; 
  box-sizing: border-box; 
}

.current-content{
  background-color: white;
}

.current-content:hover{
  text-decoration:none;
  color: black;
  cursor: default;
}


@media (max-width: 830px) {
  .nav-item {
    flex-basis: 33.33%; 
    max-height: calc((16vh - 20px) / 3); 
    margin-bottom: 0; 
  }
  
  .nav-item:nth-child(7),
  .nav-item:nth-child(8) {
    flex-basis: 50%; 
  }
}


@media (min-width: 1920px) {
  .nav-menu {
    width: 55vw; 
  }
}

@media (max-width: 830px) {
  .nav-item span {
    display: none;
  }
}

