.content-box {
  width:60vw;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  padding-bottom: 100px; 
}

.content-item {
  position: relative;
}

.img-box {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; 
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-family: 'sanfrancisco', sans-serif;
  color: white;
}

.description-box a{
  color: rgb(24, 124, 255);
}

.description-box a:hover{
  color: rgb(255, 255, 255)
}


.thumbnail-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
}


.thumbnail {
  top: 3vh;
  width: 66px;
  height: 66px;
  margin: 5px;
  cursor: pointer;
  object-fit: contain;
  background-color: white;
  border: 1px solid black;
}
.thumbnail:hover{
  transform: 0.9;
  width: 64px;
  height: 64px;
  margin: 4px;
  border: 1px solid black;
  background-color: white;

}


.gallery-navigation-extra-two{
  width: 60vw;
  font-family: 'sanfrancisco', sans-serif;
  font-size: 1.4em;
  margin: auto;
  text-align: center;
  color: black;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid black;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gallery-navigation-extra-two:hover {
  text-align: center;
  margin: auto;
  font-family: 'sanfrancisco', sans-serif;
  color: black;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid black;
  transition: 0.3s;
}

.inline-icon-colordrive{
  vertical-align: -5px;
}

#gallery-description:hover{
  cursor: default;
}

.gallery-navigation-extra{
  width: 61.7vw;
  font-family: 'sanfrancisco', sans-serif;
  font-size: 1.9em;
  padding: 0.3vh;
  margin: auto;
  text-align: center;
  color: black;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid black;
  cursor: pointer;
}

.gallery-navigation-extra:hover{
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
}