.topbar{
    text-align: left;
    font-family: 'sanfrancisco', sans-serif;
    font-size: 1.7em;
    color: black;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border-bottom: 1px solid black;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 999999;
  }
  
  .topbar:hover{
  cursor: default;
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #f1f1f1;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .popup:hover .popuptext {
    visibility: visible;
    opacity: 1;
  }
  
  .bubble {
    position: relative;
    display: inline-block;
    padding: 8px;
    background-color: #f1f1f1;
    color: #000000;
    border-radius: 6px;
  }
  
  .bubble::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: #f1f1f1 transparent transparent transparent;
  }